<h1>Profile</h1>

<%= form_for(@profile_form, url: profile_users_path) do |f| %>
    <%= error_messages @profile_form %>

    <div class="form-group">
      <%= f.label :email, class: 'control-label' %>
      <%= current_user.email %>
    </div>

    <div class="field">
      <%= f.label :password, class: 'control-label' %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: 'control-label' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :first_name, class: 'control-label' %>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :last_name, class: 'control-label' %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: 'btn btn-primary' %>
    </div>
<% end %>

